/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

body {
    margin: 0;
    background: url(light-background.jpg);
    background-size: cover;
}

/* Nav */

.nav-list {
    display: flex;
    margin: 10px;
    list-style: none;
    padding-left: 0px;
}

.nav-list li {
    margin: 15px;
    font-size: 1.7rem;
    font-weight: bolder;
    color: red;
}

a {
    text-decoration: none;
    color: red;
}

.nav-list-right {
    display: flex;
    margin-left: auto;
}

.nav-list-right li {
    color: #383737;
    }

    /* Main Body */

.main-body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 6rem;
    color: #383737;
    margin: 20px;
    font-family: 'Style Script', cursive;
}

h3 {
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 200;
}