body {
    margin: 0;
    background: url(light-background.jpg);
    background-size: cover;
}

.nav-list {
    display: flex;
    margin: 10px;
    list-style: none;
    padding-left: 0px;
}

.nav-list li {
    margin: 15px;
    color: red;
    font-size: 1.7rem;
    font-weight: bolder;
}

.nav-list-right {
    display: flex;
    margin-left: auto;
}

.nav-list-right li {
    color: #383737;
    }